.card {
  max-width: 413px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 413px;
}

.card__title {
  margin: 12px 0 0;
  max-width: 353px;
  text-overflow: ellipsis;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 23px;
  width: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
