.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  opacity: 70%;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__edit-btn {
  margin-top: auto;
  background-color: transparent;
  border: none;
  opacity: 70%;
  align-self: start;
  padding: 0;
  color: #212121;
  font-weight: 500;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  height: 52px;
  width: 149px;
  background-color: #212121;
  color: #fcf5e5;

  display: inline-flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 8px;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .profile__column {
    padding-left: 0;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__edit-btn {
    margin-bottom: 20px;
    align-self: auto;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
